html {
  background: #535353;
  color: #F8F8FA;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  font-size: 50px;
  font-family: Arial;
}
button {
  background-color: transparent;
  border: 3px solid #F11515;
  color: #fff;
  outline: none;
  height: 4rem;
  padding: 1px 1px;
  text-decoration: none;
  font-size: 19px;
  font-weight: bold;
  border-radius: 15px;
  align-items: center;
  text-transform: uppercase;
  transition: 2s;
  cursor: pointer;
}
button:hover {
  box-shadow: inset 0px 0px 25px #8F0A0A;
}